.btn{
    font-size: 2.5rem;

    &--small{
        padding: 1rem 1.8rem;
        border-radius: 2.5rem;    
    }

    &--medium{
        padding: 1.6rem 3.2rem;
        border-radius: 3.2rem;
    }

    &--black{
        background: $black;
        color: $white;
    }

    &--turquoise{
        background-color: $turquoise;
        color: $white;
    }

    &--light-brown{
        background-color: $light-brown;
        color: $white;
    }

    &--brown{
        background-color: $brown;
        color: $white;
    }
}