.footer{
    background: $black;
    color: $white;
    padding: 6rem 4.8rem 4.5rem;

    &__logo{
        width: 8rem;
        filter: invert(98%) sepia(4%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(101%);
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 6rem;
        margin-bottom: 3.5rem;
    }
    &__links{
        display: flex;
        list-style: none;

        & li:not(:last-of-type){
            margin-right: 7rem;
        }
    }

    &__policies{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__policies-nav{
        display: flex;
        list-style: none;

        & li:not(:last-of-type){
            margin-right: 3.5rem;
        }
    }
}