.highlight-article{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 10rem;

    &__info{
        margin-right: 4rem;
        & .copy{
            margin-top: 4rem;
            margin-bottom: 3rem;
        }

    }

    &__image{
        width: 49%;
       border-radius: 4rem;
    }
}